<div class="login-container">

  <div class="login-card">

    <h2 class="login-title">Acessar Plataforma</h2>

    <form (ngSubmit)="login()">

      <div class="input-group">
        <label>Email</label>
        <input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required
        >
      </div>

      <div class="input-group">
        <label>Senha</label>
        <input 
          type="password" 
          [(ngModel)]="password" 
          name="password" 
          required
        >
      </div>

      <button type="submit" class="btn-login">
        Entrar
      </button>

    </form>

    <!-- Erro -->
    <p *ngIf="error" class="error">{{ error }}</p>

    <!-- Link para cadastro -->
    <p class="register-text">
      Não tem conta?
      <a routerLink="/register">Cadastre-se</a>
    </p>

  </div>

</div>
