<div class="home-container"> 

  <!-- NAVBAR FUTURISTA -->
  <nav class="navbar">
    <div class="logo">Auth<span>Delux</span></div>

    <div class="nav-actions">
      <button class="logout-btn" (click)="logout()">Sair</button>
    </div>
  </nav>

  <!-- HERO -->
  <section class="hero-section">
    
    <div class="glass-badge">
       Certificados digitais e autenticação blockchain
    </div>

    <h1 class="hero-title">
      Tecnologia moderna<br />para instituições modernas
    </h1>

    <p class="hero-subtitle">
      Plataforma segura para emissão e validação de certificados acadêmicos,
      com autenticação descentralizada e criptografada.
    </p>

    <div class="hero-buttons">
      <button class="btn-primary" routerLink="/emitir">
        Emitir certificado
      </button>

      <button class="btn-primary" routerLink="/validar">
        Validar certificado
      </button>
    </div>
  </section>


  <!-- FOOTER -->
  <footer class="footer">
    <p>© 2025 AuthDelux — Tecnologia e Transparência</p>
    <p>📩 renancardoso1414&#64;gmail.com</p>
  </footer>

</div>
